body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container input {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 5px 0;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.container button {
    width: 48%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container button:hover {
    background-color: #0056b3;
}

#totalGeral {
    padding: 10px;
    width: calc(100% - 20px);
    margin: 5px 0;
}
